<!DOCTYPE html>
<html>
	<%- include('../layouts/head') %>
<body>
	<div class="wrapper">
		<%- include('../layouts/main-header') %>
		<%- include('../layouts/side-bar') %>
			<div class="main-panel">
			 <%- include('../components/typography'); %>
			 <%- include('../layouts/footer') %>
				
			</div>
		</div>
	</div>
 //modal 

</body>
<%- include('../layouts/scripts/main') %>



</html>