<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">
      <% if (mode === "Create") { %>
        Tạo loại sản phẩm mới
      <% } %>
      <% if (mode === "Update") { %>
        Cập nhật loại sản phẩm
      <% } %>
      <% if (mode === "Delete") { %>
        Bạn có đồng ý xóa sản phẩm <%=category?.name%>
      <% } %>
      
      
      
     </h4>
    <div class="card">
      <div class="card-body">
        <% if (mode === "Create") { %>
          <form action="/categories/create" method="post">
        <% } %>
        <% if (mode === "Update") { %>
          <form action="/categories/update" method="post">
        <div class="form-group hide">
          <input name="id" type="text" value="<%=category?._id%>" id="id" />
      </div>
      <% } %>
      
      <% if (mode === "Delete") { %>
        <form action="/categories/delete" method="post">
      <div class="form-group hide">
        <input name="id" type="text" value="<%=category?._id%>" id="id" />
    </div>
    <% } %>
          <div class="form-group">
            <label for="code">Mã sản phẩm</label>
            <input name="code" type="text" value="<%=category?.image%>" class="form-control" id="code" placeholder="Nhập mã sản phẩm"  <%= mode === 'Delete' ? 'disabled' : '' %>>

        </div>
        <div class="form-group">
          <label for="name">Tên sản phẩm</label>
          <input name="name" type="text" value="<%=category?.image%>" class="form-control" id="name" placeholder="Nhập tên sản phẩm"  <%= mode === 'Delete' ? 'disabled' : '' %>>


      </div>
      <div class="form-group">
        <label for="image">Link hình ảnh</label>
        <input name="image" type="text" value="<%=category?.image%>" class="form-control" id="image" placeholder="Nhập link hình ảnh"  <%= mode === 'Delete' ? 'disabled' : '' %>>
    </div>
    <div class="card-action">
      <% if (mode === "Create") { %>
        <button class="btn btn-success" type="submit">Tạo</button>
      <% } %>
      <% if (mode === "Update") { %>
        <button class="btn btn-success" type="submit">Cập nhật</button>
      <% } %>
      <% if (mode === "Delete") { %>
        <button class="btn btn-primary" type="submit">Xóa</button>
      <% } %>
      <a class="btn btn-danger" href="/categories">Trở về trang danh sách sản phẩm</a>
  </div> 
        </form>
      </div>
  </div>
</div>
