<div class="content">
  <div class="container-fluid">
    <div class="flex itesm-center justify-content-between mb-2">
      <h4 class="page-title mb-0">Danh sách loại sản phẩm</h4>
      <a class="badge badge-default" href="categories/create"
        >Tạo loại sản phẩm</a
      >
    </div>
    <% if (categories && categories.length > 0) { %>
    <div class="card">
      <div class="card-body">
        <table class="table table-head-bg-success">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Image</th>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <% categories.forEach(function(category, index){ %>
          <tr>
            <td><%=index+1%></td>
            <td>
              <img
                src="<%=category.image%>"
                alt="iage"
                class="category-label"
              />
            </td>
            <td><%=category.code%></td>
            <td><%=category.name%></td>
            <td>
              <a
                class="btn btn-primary btn-sm"
                href="/categories/update/<%=category._id%>"
                >Sửa</a
              >
              <a
                class="btn btn-danger btn-sm"
                href="/categories/delete/<%=category._id%>"
                >Xóa</a
              >
            </td>
          </tr>
          <% }); %>
          <tbody></tbody>
        </table>
      </div>
      <div class="card-body flex justify-content-center items-center">
        <div class="form-group flex justify-content-center items-center ">
            <label for="defaultSelect" class="=white-space">Page Size</label>
            <select class="form-control form-control" id="defaultSelect" onchange="changePageSize(event)">
          <% [5, 10, 20, 30, 50].forEach(function(pageSizeOption, index){ %>
            <% if(pageSizeOption === pageSize ){ %>
                <option selected><%=pageSizeOption%></option>
               <% } %> 
               <% if(pageSizeOption !== pageSize ){ %>
                <option selected><%=pageSizeOption%></option>
               <% } %> 
            <% }); %>
            </select>
          </div>
        <ul class="pagination pg-primary">
            <li class="page-item">
                <a class="page-link"  aria-label="Previous" onclick="prevPage()">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
          <% for(let i = 1; i <= countPagination; i++){ %>
            <% if (page === i) { %>
                <li class="page-item active"><a class="page-link " href="#" onclick="changePage(`<%=i%>`) "><%=i%></a></li>
                <% } %>    
                <% if (page !== i) { %>
                    <li class="page-item "><a class="page-link " href="#" onclick="changePage(`<%=i%>`) "><%=i%></a></li>
                    <% } %>      
          <% }; %>
          <li class="page-item">
            <a class="page-link"  aria-label="Next" onclick="nextPage()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <% } else { %>
    <h5>Hiện tại chưa có loại sản phẩm nào</h5>
    <% } %>
  </div>
</div>
